@import "tailwindcss";

.container {
  max-width: 1340px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.navlink.active {
  color: red;
}
.swiper-button-next,
.swiper-button-prev {
  width: 30px !important;
  height: 30px !important;
  color: #fff !important;
  padding: 20px;
  transition: 0.3s;
  border-radius: 50%;
  background: #dddddd35;
}

.swiper-button-next:hover {
  background: #dddddd87;
}
.swiper-button-prev:hover {
  background: #dddddd87;
  
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 24px !important;
}
.swiper-pagination-bullet {
  display: none !important;
}
@media (max-width: 700px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 25px !important;
    height: 25px !important;
    color: #fff !important;
    padding: 14px;
    transition: 0.3s;

    border-radius: 50%;
    background: #dddddd35;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 18px !important;
  }
}

.link li {
  margin-bottom: 16px;
  cursor: pointer;
}
.link li span {
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 5px;
}
.link li span:hover {
  text-decoration: underline;
  color: rgb(197, 1, 1);
}

.footWrap {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr 1fr;
}

.skaletion_animation {
  background: linear-gradient(90deg, #868686, #6d6c6c, #868686);
  background-size: 200%;
  animation: animation 1s linear infinite;
}
@keyframes animation {
  to {
    background-position: 200%;
  }
}
@media (max-width: 1150px) {
  .footWrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 850px) {
  .footWrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .part {
    margin-bottom: 20px;
  }
}
@media (max-width: 475px) {
  .footWrap {
    display: grid;
    grid-template-columns: 1fr;
  }
  .part {
    margin-bottom: 30px;
  }
}
.outlet.active {
  background: #fff;
}
